/misc/icon_ics.png
/misc/phone_gb_ftp.png
/misc/selector.9.png
/misc/selector.png
/screens/feature.png
/screens/ftp_phone_ics_horizontal.png
/screens/phone_qhd_gb_ftp.png
/screens/videos_tablet.png
/misc/icon_hi.psd
/misc/ics.psd
/misc/feature_290.png
/misc/icon_114.png
/misc/icon_256.png
/misc/icon_512.png
/misc/icon_gtv.png
/misc/icon_hc.png
/misc/icon_hi.png
/misc/contextmenu_top_sides.9.png
/misc/contextmenu_top_sides.png
/misc/feature.png
/misc/context_menu_opentop.9.png
/misc/context_menu_opentop.png
/misc/contextmenu_arrow.png
/misc/contextmenu_top.png
/libs/android-support-v13.jar
bin/com/nexes/manager/tablet/
